*{
    font-family: "Comic Sans MS";
    /* border:0.05px red dashed; */
}
body{
    position:relative;
    width:600px;
}
form{
    width:250px;
    display:inline-block;
}
label{
    display:block;
    margin:10px;
    position: relative;
}
label:nth-of-type(3){
    margin-top:30px;
}
form input{
    display:inline-block;
    position:absolute;
    vertical-align:middle;
    right:0;
    border:2px solid black;
}
textarea{
    display:block;
    margin:10px 10px 0px;;
    height:60px;
    border:2px solid black;
}
button{
    margin:10px;
    background-color:white;
    box-shadow: 2px 2px black;
    border:2px solid black;
}
.cardHolder{
    width:250px;
    display:inline-block;
    position:absolute;
    right:20px;
}
.cardHolder>div{
    
    border:2px black solid;
    padding:8px;
    margin:10px;
}
h2, h3, h5{
    text-align: center;
}
h5{
    margin:-20px auto 0px;
}